@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-notosans;
    @apply text-black;
  }